{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier/react", "plugin:prettier/recommended"],
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "all",
        "arrowParens": "always"
      }
    ],
    "react/jsx-filename-extension": 0,
    "import/prefer-default-export": 0,
    "arrow-body-style": [
      "error",
      "as-needed",
      { "requireReturnForObjectLiteral": false }
    ]
  },
  "env": {
    "browser": true
  }
}
